###> PhpStorm ###
.idea/
###< PhpStorm ###

###> Docker ###
docker/db/data/*
!docker/db/data/.gitkeep
###< Docker ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
